<!DOCTYPE html>

<html>

<head>
  <title>Daily Journals</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/w3.css">
  <link rel="stylesheet" href="css/extras.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">



  <!-- Required scripts for bootstrap -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/index.js"></script>
</head>

<body>
  <div id="app">


    <div id="myModal" class="entry-modal">

      <div class="entry-modal-content">
        <div class="entry-modal-header">
          <h2 id="header-date"></h2>
          <span class="close" onclick="close_modal(this)">&times;</span>

        </div>
        <div class="entry-modal-body">
          <div class="row">
            <h4 class="col-sm-11" id="entry-title"></h4>
          </div>
          <div class="row">
            <h4 class="col-sm-3"><strong>Daily Color: </strong></h4>
            <div id="daily-color" class="col-sm-1"></div>
          </div>
          <div class="row">
            <h4 class="col-sm-12"><strong>Emotions: </strong><span id="list-emotions"></span></h4>
          </div>
          <div class="row">
            <h4 class="col-sm-12"><strong>Goal: </strong><span id="entry-goal"></span></h4>
          </div>
          <div class="row">
            <h4 class="col-sm-12"><strong>Journal Entry</strong></h4>
          </div>
          <div class="row">
            <div class="col-sm-12" id="entry-text"></div>
          </div>

        </div>
      </div>

    </div>


    <!--modal for form -->
    <b-modal ref="journalEntryModalRef" id="journalEntryModal" size="lg" @ok="addEntry" @shown="clearEntry" ok-only
      title="Create New Journal Entry">
      <b-container fluid>

        <!--date-->
        <b-form-group class="my-1" label="Date:" label-for="dateForm" label-class="font-weight-bold pt-0">
          <b-form-input type="date" id="dateForm" v-model="newEntry.id" />
        </b-form-group>

        <!--title for user-->
        <b-form-group class="my-1" label="Journal Title:" label-for="title" label-class="font-weight-bold pt-0">
          <b-form-input type="text" id="title" placeholder="Title" v-model="newEntry.title" />
        </b-form-group>

        <!--select one mood for the day-->
        <b-form-group label="Day's overall mood:" label-for="dayMood" label-class="font-weight-bold pt-0">
          <b-form-select id="dayMood" v-model="newEntry.color" class="mb-3">
            <option value="selectOne">Select One</option>
            <option value="pink">Great</option>
            <option value="orange">Okay</option>
            <option value="green">Neutral</option>
            <option value="blue">Bad</option>
            <option value="purple">Terrible</option>
          </b-form-select>
        </b-form-group>

        <!--user select emotions from here -->
        <b-form-group label="Emotions felt today:" label-for="emotions" label-class="font-weight-bold pt-0">
          <b-form-checkbox-group id="emotions" name="emotion" v-model="newEntry.emotions">
            <b-form-checkbox value="Happy" name="emotions">Happy</b-form-checkbox>
            <b-form-checkbox value="Sad" name="emotions">Sad</b-form-checkbox>
            <b-form-checkbox value="Angry" name="emotions">Angry</b-form-checkbox>
            <b-form-checkbox value="Excited" name="emotions">Excited</b-form-checkbox>
            <b-form-checkbox value="Joyful" name="emotions">Joyful</b-form-checkbox>
            <b-form-checkbox value="Confused" name="emotions">Confused</b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>

        <!--goal for the day-->
        <div class="form-group my-1">
          <label for="goal" class="font-weight-bold">Daily Goal? <span class="font-weight-normal text-muted">(optional)</span></label>
          <b-form-input v-model="newEntry.goal" type="text" id="goal" placeholder="Enter goal here" />
        </div>

        <!--Jounral goes here in form -->
        <b-form-group label="Enter Journal Entry:" label-for="thoughts" label-class="font-weight-bold pt-0">
          <b-form-textarea id="thoughts" type="text" v-model="newEntry.entry" placeholder="Enter your thoughts" />
        </b-form-group>

      </b-container>
    </b-modal>


    <div id="cal-header">
      <div class="prev" onclick="handle_prev()">&#10094;</div>
      <div id="month-name"></div>
      <div class="next" onclick="handle_next()">&#10095;</div>
    </div>
    <div id="calendar"></div>


    <!--statistic part maybe used for gamifcation later-->
    <div class="w3-row w3-center w3-dark-grey w3-padding-16">
      <div class="w3-half w3-section">
        <span class="w3-xlarge" id="days_journaled"></span><br>
        Days Journaled
      </div>
      <div class="w3-half w3-section">
        <span class="w3-xlarge" id="streak"></span><br>
        Day Streak
      </div>


    </div>

    <div class="w3-row w3-center w3-dark-grey w3-padding-16">
      <div id="empty_badge">
        <i class="far fa-star" id="empty_star"></i>
        <p style="padding-top:15px;">Journal today to unlock the badge!</p>
      </div>
      <div id="completed_badge" class="hidden">
        <i class="fas fa-star" id="filled_star"></i>
        <p style="padding-top:15px;">You journaled today. Good Job!</p>
      </div>
    </div>


    <a v-b-modal="'journalEntryModal'" class="addButton"><i class="fas fa-plus" style="color:white"></i></a>

    <b-container v-for="journal in journals" :key="journal.id">
      <p>{{journal.id}}</p>
      <p>{{journal.title}}</p>
      <p>{{journal.color}}</p>
      <p>{{journal.emotions}}</p>
      <p>{{journal.goal}}</p>
      <p>{{journal.entry}}</p>
      <p>{{journal.date}}</p>
    </b-container>

  </div>
  </div>
  <!--end app div-->

  <script>
    window.app = new Vue({
      el: "#app",
      data: {
        journals: [{
            id: "2019-03-01",
            title: "What a day",
            color: "green",
            emotions: ["stressed"],
            goal: "Get 10,000 steps",
            entry: "This was an amazing day.",
            date: Date.parse("2019-03-01") + 1000 * 60 * 60 * 6
          },
          {
            id: "2019-03-02",
            title: "Journal entry #1",
            color: "red",
            emotions: ["content", "carefree"],
            goal: "Eat breakfast",
            entry: "This was a bad day.",
            date: Date.parse("2019-03-02") + 1000 * 60 * 60 * 6
          },
          {
            id: "2019-03-03",
            title: "This is a title.",
            color: "purple",
            emotions: ["joyful", "confused"],
            goal: "Be punctual!",
            entry: "This was a great day.",
            date: Date.parse("2019-03-03") + 1000 * 60 * 60 * 6
          },
          {
            id: "2019-03-05",
            title: "This is a second title.",
            color: "purple",
            emotions: ["joyful", "confused"],
            goal: "Be punctual!",
            entry: "This was an ok day.",
            date: Date.parse("2019-03-05") + 1000 * 60 * 60 * 6
          },
          {
            id: "2019-03-06",
            title: "This is a third title.",
            color: "purple",
            emotions: ["joyful", "confused"],
            goal: "Say thank you to someone!",
            entry: "This was a day.",
            date: Date.parse("2019-03-06") + 1000 * 60 * 60 * 6
          }
        ],
        newEntry: {
          id: "",
          title: "",
          color: "selectOne",
          emotions: [],
          goal: "",
          entry: "",
          date: 0
        }
      },
      methods: {
        //adds entry to the journals data struct
        addEntry(evt) {
          evt.preventDefault()
          if (validateForm() === false) {
            alert("The date, title, daily mood, emotions, and journal entry must be filled out");
          }
          //  else if (newDate() === false) {
          //   alert("This date already has an entry! Please create a journal entry for a new date!");
          // } 
          else {
            //adds the unix timestamp to be added to the journal enteries 
            this.newEntry.date = Date.parse(this.newEntry.id) + 1000 * 60 * 60 * 6
            this.journals.push({
              id: this.newEntry.id,
              title: this.newEntry.title,
              color: this.newEntry.color,
              emotions: this.newEntry.emotions,
              goal: this.newEntry.goal,
              entry: this.newEntry.entry,
              date: this.newEntry.date
            })
            this.journals.sort(compare)
            handle_statistics()
            handle_badge()
            let thePresent = new Date();
            let currMonth = thePresent.getMonth();
            let currYear = thePresent.getFullYear();
            handle_calendar(currMonth, currYear);
            this.$nextTick(() => {
              this.$refs.journalEntryModalRef.hide()
            })
          }
        },
        //clears the new entry data struct
        clearEntry() {
          this.newEntry.id = "";
          this.newEntry.title = ""
          this.newEntry.color = "selectOne"
          this.newEntry.goal = ""
          this.newEntry.entry = ""
          this.newEntry.emotions = []
          this.newEntry.date = 0
        }
      },
      computed: {}
    });
  </script>

</body>

</html>